    <div class="admin-signin" style=text-align:center>
        <h1>Admin Sign-in</h1>
        <form [formGroup]="signinRef" (ngSubmit)="checkAdmin()">
            <label>Admin Username:</label>
            <input type="text" placeholder="Enter Admin username " formControlName="username" required/><br/>
            <label>Password</label>
            <input type="password" placeholder="Enter Password" formControlName="password" required/><br/>
            <input type="submit" value="Sign In"/>
            <input type="reset" value="reset"/>
        </form>
        {{msg}}
    </div>
