
    <div class="card text-center" style="width: 64rem; margin:0 auto;">
    	<div class="card-body">
    		<a routerLink="/admin-signin" class="card-link">Admin</a>
  		</div>
  	</div>
  	<div style="margin-top:30px"></div>
  	<div class="card text-center" style="width: 64rem; margin:0 auto;">
  		<div class="card-body">
    		<a routerLink="/userDashboard" class="card-link">User</a>
  		</div>
  	</div>
  	<div style="margin-top:30px"></div>
  	<div class="card text-center" style="width: 64rem; margin:0 auto;">
  		<div class="card-body">
    		<a routerLink="/employee-signin" class="card-link">Employee</a>
  		</div>
  	</div>
