<style>
    .labelClass{
        float: center;
        width: 100px;
    }
</style>

<div class="user-signin" style=text-align:center>
    <br/>
    <h2>User Signin</h2><br/>
    <form #loginRef="ngForm" (ngSubmit)="checkUser(loginRef)">
        <span class="labelClass">User Name: </span><input type="text" name="user" ngModel><br/><br/>
        <span class="labelClass">Password: </span><input type="password" name="pass" ngModel><br/><br/>
        <br/>
        <button type="submit">Sign In</button>
        <button type="reset">Reset</button>
    </form>
    
</div>